<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Patas.repository.TaskMapper">

<!--    &lt;!&ndash; マッピング定義(ユーザー) &ndash;&gt;-->
<!--    <resultMap type="com.example.Patas.repository.entity.Task" id="task">-->
<!--        <id column="id" property="id"/>-->
<!--        <result column="content" property="content"/>-->
<!--        <result column="status" property="status"/>-->
<!--        <result column="limit_date" property="limitDate" jdbcType="Timestamp" />-->
<!--        <result column="created_date" property="createdDate" jdbcType="Timestamp"/>-->
<!--        <result column="updated_date" property="updatedDate" jdbcType="Timestamp"/>-->
<!--    </resultMap>-->

    <select id="findAll" resultType="com.example.Patas.repository.entity.Task">
        SELECT * FROM tasks
    </select>

    <insert id="save">
        INSERT INTO tasks (
            content,
            status,
            limit_date,
            created_date,
            updated_date
        ) VALUES (
            #{content},
            #{status},
            #{limitDate},
            now(),
            now()
        )
    </insert>

    <delete id="deleteById">
        DELETE FROM tasks WHERE id = #{id}
    </delete>

</mapper>